/** Style CSS*/
.intro{
    display: flex;
    flex-flow: column;
    align-items: stretch;
    align-content: center;}

.introItem{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;}

.introItem > div{
    width: 9em;
    text-align: left;
    margin-left: 1em;}

.introItem > img{
    width: 2em;
    height: 2em;}

.title{
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 20px;
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;}

.title > span{
    width: 9em;
    text-align: left;
    margin-left: 1em;
    font-size: large;}

.title > img{
    width: 1em;
    height: 1em;}

.reveal .slides > section.present.topped,
.reveal .slides > section.topped > section.present{
  height: 100%;}

.flexColumnCenter{    
    height: 90%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;}

.flexColumnStart{
    display: flex;
    flex-flow: column;
    align-items: flex-start;}

.flexColumnStart > p, .flexColumnStart > span, .flexColumnStart > a{
    font-size: 0.5em !important;
    text-align: left;} 

div.flexColumnStart{
    width: fit-content;
    margin: 1em auto;}

.librairies{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    font-size: 0.5em !important;}
    
.conclusion{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;}    